{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "eqeqeq": "error",
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/attribute-hyphenation": [
            "error",
            "never"
        ]
    }
}