$break-small = 640px
$break-large = 960px

$tocbar-width = 320px
$toobar-height = 56px

s = "all and (max-width: $break-small)"
m = "all and (min-width: $break-small) and (max-width: $break-large)"
l = "all and (min-width: $break-large)"
