@import '~@material/elevation/mdc-elevation.scss';
@import './base';

@mixin elevation_paper {
    background-color: #ffffff;
    @extend .mdc-elevation-transition;

    @include mdc-elevation(4);
    &:hover {
        @include mdc-elevation(24);
    }

    @include respond-to('s') {
        @include mdc-elevation(2);
        &:hover {
            // no elevation effect on small screen
            @include mdc-elevation(2);
        }
    }
}
