@font-face
  font-family: "icomoon"
  src: url("../fonts/icon/icomoon.woff") format("woff")

.icon
  font-family: icomoon
  font-size: 24px
  /* Better Font Rendering. From Icomoon */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-toc:before
  @extend .icon
  content: "\e8de"

.icon-face:before
  @extend .icon
  content: "\e87c"

.icon-home:before
  @extend .icon
  content: "\e88a"

.icon-menu:before
  @extend .icon
  content: "\e5d2"

.icon-tag:before
  @extend .icon
  content: "\e54e"
